@import url("../CSS/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
.body {
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 120vh;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
}
.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  height: 58px;
  margin: 0 auto;
  padding: 18px 79px;
}
.header__box_logo {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;

  align-items: center;
  line-height: 100%;
}
.header__logo {
  font-weight: 700;
  font-size: 22px;
}
.box__nav_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 704px;
}
.nav__icons_list {
  display: flex;
  gap: 25px;
  margin-right: 53px;
}
.header__autorization_link {
  position: relative;
}

.header__autorization_link::before {
  position: absolute;
  width: 1px;
  height: 19px;
  content: "";
  top: -2px;
  left: -25px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}
/* MAIN */
.container__forms {
  width: 444px;
  height: 584px;
  margin-top: 166px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  background: #ffffff;
  position: relative;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -40%);
}
.signup__forms {
  position: relative;
  padding-top: 31px;
}

.forms__square {
  width: 18px;
  height: 18px;
  left: 0;
  position: absolute;
  background: #3cb878;
}
.forms__title_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 43px;
  margin-right: 59px;
}
.signup {
  font-size: 20px;
  color: #434343;
}
.login__link {
  color: #3cb878;
}

.social__media {
  display: flex;
  justify-content: center;

  gap: 4px;
  margin-bottom: 31px;
}
.media__txt {
  font-size: 16px;
  padding-right: 22px;
}
.facebook {
  margin-left: 18px;
}
.social__media_logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  width: 160px;
  height: 48px;
}
.social__media_logo:nth-child(1) {
  background: #305db8;
}
.social__media_logo:nth-child(2) {
  background: #df4a32;
}
.social__media_logo:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 28px;
  background: #0a162f;
  opacity: 0.1;
  left: 47px;
  top: 10px;
  mix-blend-mode: normal;
}
.social__media_logo:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 28px;
  background: #2b0d09;
  opacity: 0.1;
  left: 56px;
  top: 10px;
}
.vertical__line {
  overflow: hidden;
  text-align: center;
  color: #848484;
  margin-bottom: 12px;
}
.vertical__line::before,
.vertical__line::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 152px;
  background-color: rgba(242, 242, 242, 1);
  position: relative;
  height: 1px;
}
.vertical_line::before {
  margin-left: -100%;
  left: -4px;
}

.vertical_line::after {
  margin-right: -100%;
  right: -4px;
}

.main__forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.forms__text {
  position: relative;

  padding: 15px 19px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  width: 322px;
  height: 44px;
  opacity: 0.6;
  border: 1px solid #f2f2f2;
}
.forms__text::placeholder {
  color: #bebebe;
}

.forms__text:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: #434343;
}

.checkboxlabel {
  appearance: none;
  max-width: 249px;
  font-size: 14px;
  color: #434343;
}

.checkbox__input {
  position: relative;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
}
.linkbox {
  color: rgba(60, 184, 120, 1);
}
.button__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
}
.link__account {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 324px;
  height: 46px;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  
}
.transition {
  transition: 0.4s;
}

.header__logo:hover,
.icon:hover,
.autorization__txt:hover {
  color: #3cb878;
}

.social__media_logo:nth-child(1):hover {
  background: #022263;
}
.social__media_logo:nth-child(2):hover {
  background: #ab1f09;
}
.icons__link :hover,
.signup:hover,
.linkbox:hover {
  color: #3cb878;
}

.link__account:hover {
  background: #01813f;
}
